.main {
  margin: 0 auto;
  width: min(121.7rem, 95%);
}

.sectionFilters {
  margin-top: 6.4rem;
}

.h2 {
  font-size: 2.2rem;
  font-weight: 500;
}

.tabs {
  margin-top: 4rem;
  width: 100%;
  height: 5.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  background: var(--white-100);
}

.tab {
  flex: 0 0 20rem;
  font-size: 1.6rem;
  height: 100%;
  color: var(--gray-500);
  position: relative;
  background: transparent;
  transition: filter 0.2s;
}

.tab:hover {
  filter: brightness(0.8);
}

.tabActive {
  font-weight: 500;
  color: var(--blue-500);
}

.tabActive::after {
  content: '';
  height: 2px;
  background: var(--blue-500);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.listServices {
  margin-top: 4.8rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  align-items: flex-start;
}

.cardItem {
  width: 100%;
}

.form {
  margin-top: 3.2rem;
  display: flex;
  gap: 2.4rem;
  justify-content: space-between;
}

.inputGroup {
  position: relative;
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  left: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
}

.inputSearch {
  padding: 0 1.6rem 0 4.8rem;
  width: 31.1rem;
  height: 5.2rem;
  border: 1px solid var(--white-500);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: var(--gray-800);
}

.inputSearch::placeholder {
  color: var(--gray-100);
}

.inputSearch:hover {
  border: 1px solid var(--white-700);
}

.inputSearch:focus {
  border: 2px solid var(--white-700);
  outline: none;
}

.select {
  padding: 0 1.6rem;
  width: 31.1rem;
  height: 5.2rem;
  font-size: 1.6rem;
  border: 1px solid var(--white-500);
  border-radius: 0.5rem;
  background: var(--white-100);
}


@media only screen and (max-width: 920px) {
  .listServices {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .tab {
    flex: 0 0 16rem;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 650px) {
  .listServices {
    grid-template-columns: 1fr;
  }
}
