.main {
  margin: 0 auto;
  width: min(121.7rem, 95%);
}

.listServices {
  margin-top: 4.8rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  align-items: flex-start;
}

.cardItem {
  width: 100%;
}

.form {
  display: flex;
  gap: 3rem;
}

.inputGroup {
  position: relative;
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  left: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
}

.inputSearch {
  padding: 0 1.6rem 0 4.8rem;
  width: 31.1rem;
  height: 5.2rem;
  border: 1px solid var(--white-500);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: var(--gray-800);
}

.inputSearch::placeholder {
  color: var(--gray-100);
}

.inputSearch:hover {
  border: 1px solid var(--white-700);
}

.inputSearch:focus {
  border: 2px solid var(--white-700);
  outline: none;
}

.select {
  padding: 0 1.6rem;
  width: 31.1rem;
  height: 5.2rem;
  font-size: 1.6rem;
  border: 1px solid var(--white-500);
  border-radius: 0.5rem;
  background: var(--white-100);
}


@media only screen and (max-width: 920px) {
  .listServices {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 650px) {
  .listServices {
    grid-template-columns: 1fr;
  }
}
